numpy==1.23.5
tensorflow==2.13.0
librosa==0.10.0
pydub==0.25.1
scipy==1.10.1
soundfile==0.11.0
matplotlib==3.7.2  # For visualizing audio spectrograms
tqdm==4.66.1  # For progress tracking
sentencepiece==0.1.99  # Tokenization if needed
